nav {
    background-color: rgba(233, 178, 112, 0.747);
    /* min-width: 100vw; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
    /* padding-right: 6rem; */
    /* border: 2px solid red; */
}

nav > ul {
    display: flex;
    gap: 20px;
    list-style: none;


    padding-right: 6rem;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}